/* 
    Created on : 14 de dez. de 2023, 03:22:23
    Author     : Flávio Pavim
*/


#logo {

    position: relative;

    /*margin: 30px 0;*/
    display: block;
    width: 436px;
    height: 436px;
    /*background-color: #ccc;*/

    margin: 0 auto;

    /*        text-align: center;
        align-items: center;*/

}
#logo img {
    position: absolute;
}

#rainbow {
    top: 0;
    left: 0;
}


#cat-head {
    top: 210px;
    left: 20px;
}
#cat-ear-left,
#cat-ear-right {
    top: 180px;
}
#cat-ear-left {
    left: 28px;
}
#cat-ear-right {
    left: 146px;
}
#cat-eye-left,
#cat-eye-right {
    top: 260px;
}
#cat-eye-left {
    left: 70px;
}
#cat-eye-right {
    left: 140px;
}
#cat-mouth {
    top: 290px;
    left: 65px;
}
#cat-noose {
    top: 290px;
    left: 100px;
}
#cat-mustache-left-1 {
    top: 290px;
    left: 45px;
}
#cat-mustache-left-2 {
    top: 306px;
    left: 42px;
}
#cat-mustache-left-3 {
    top: 317px;
    left: 43px;
}
#cat-mustache-right-1 {
    top: 290px;
    left: 144px;
}
#cat-mustache-right-2 {
    top: 306px;
    left: 147px;
}
#cat-mustache-right-3 {
    top: 317px;
    left: 144px;
}




#dog-head {
    top: 200px;
    left: 230px;
}
#dog-ear-left,
#dog-ear-right {
    top: 200px;
}
#dog-ear-left {
    left: 210px;
}
#dog-ear-right {
    left: 341px;
}
#dog-eye-left,
#dog-eye-right {
    top: 260px;
}
#dog-eye-left {
    left: 290px;
}
#dog-eye-right {
    left: 350px;
}

#dog-noose {
    top: 295px;
    left: 300px;
}
#dog-mouth-bg {
    top: 315px;
    left: 295px;
}
#dog-mouth {
    top: 290px;
    left: 253px;
}









@keyframes catEarMovement {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}
#cat-ear-left,
#cat-ear-right {
    animation: catEarMovement 2s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
/*#cat-ear-left {
    left: 38px;
}

#cat-ear-right {
    left: 156px;
}*/





@keyframes mustacheMovement {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}
#cat-mustache-left-1,
#cat-mustache-left-2,
#cat-mustache-left-3,
#cat-mustache-right-1,
#cat-mustache-right-2,
#cat-mustache-right-3 {
    animation: mustacheMovement 0.5s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}








@keyframes dogLeftEarMovement {
    0% {
        top: 203px;
        transform: rotate(-2deg);
    }
    50% {
        top: 198px;
        transform: rotate(2deg);
    }
    100% {
        top: 203px;
        transform: rotate(-2deg);
    }
}
@keyframes dogRightEarMovement {
    0% {
        top: 198px;
        transform: rotate(-2deg);
    }
    50% {
        top: 203px;
        transform: rotate(2deg);
    }
    100% {
        top: 198px;
        transform: rotate(-2deg);
    }
}
#dog-ear-left {
    animation: dogLeftEarMovement 3s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
#dog-ear-right {
    animation: dogRightEarMovement 3s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
/*#dog-ear-left {
    left: 210px;
}

#dog-ear-right {
    left: 341px;
}*/






#bone {
    top: 315px;
    left: -60px;
}

#soon {
    position: absolute;
    top: 520px;
    left: 80px;
    font-size: 60px;
    color: #555;
    text-align: center;
    text-decoration: none;
    border: 0;
}



/*@keyframes rainbowMovement {
    0% {
        width: 436px
        left: 0;
        top: 0;
    }
    50% {
        width: 434px;
        left: 1px;
        top: 1px;
    }
    100% {
        width: 436px
        left: 0;
        top: 0;
    }
}
#rainbow {
    animation: rainbowMovement 1.0s infinite;
}*/





@keyframes boneMovement {
    0% {
        transform: rotate(-0.2deg);
    }
    50% {
        transform: rotate(0.2deg);
    }
    100% {
        transform: rotate(-0.2deg);
    }
}
#bone {
    animation: boneMovement 4.3s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
#soon {
    animation: boneMovement 1.0s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}




















@keyframes rotateMinMovement {
    0% {
        transform: rotate(-0.15deg);
    }
    50% {
        transform: rotate(0.15deg);
    }
    100% {
        transform: rotate(-0.15deg);
    }
}

@keyframes rotateMovement {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}


#associacao-a-1,
#associacao-s-1,
#associacao-s-2,
#associacao-o-1,
#associacao-c-1,
#associacao-ced,
#associacao-i,
#associacao-a-2,
#associacao-c-2,
#associacao-a-3,
#associacao-til,
#associacao-o-2 {
    animation: rotateMinMovement 0.5s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
    position: fixed;
    top: 120px;
}
#associacao-a-1:hover,
#associacao-s-1:hover,
#associacao-s-2:hover,
#associacao-o-1:hover,
#associacao-c-1:hover,
#associacao-ced:hover,
#associacao-i:hover,
#associacao-a-2:hover,
#associacao-c-2:hover,
#associacao-a-3:hover,
#associacao-til:hover,
#associacao-o-2:hover {
    animation: rotateMovement 1.5s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
#associacao-a-1 {
    left: 110px;
}
#associacao-s-1 {
    left: 135px;
}
#associacao-s-2 {
    left: 150px;
}
#associacao-o-1 {
    left: 165px;
}
#associacao-c-1 {
    left: 190px;
}
#associacao-i {
    left: 210px;
}
#associacao-a-2 {
    left: 235px;
}
#associacao-c-2 {
    left: 260px;
}
#associacao-ced {
    top: 172px;
    left: 267px;
}
#associacao-a-3 {
    left: 280px;
}
#associacao-til {
    top: 110px;
    left: 280px;
}
#associacao-o-2 {
    left: 300px;
}




#protetoras-p,
#protetoras-r-1,
#protetoras-o-1,
#protetoras-t-1,
#protetoras-e,
#protetoras-t-2,
#protetoras-o-2,
#protetoras-r-2,
#protetoras-a,
#protetoras-s {
    animation: rotateMinMovement 0.5s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}
#protetoras-p:hover,
#protetoras-r-1:hover,
#protetoras-o-1:hover,
#protetoras-t-1:hover,
#protetoras-e:hover,
#protetoras-t-2:hover,
#protetoras-o-2:hover,
#protetoras-r-2:hover,
#protetoras-a:hover,
#protetoras-s:hover {
    animation: rotateMovement 0.5s infinite; /* Adjust the duration and iteration as needed */
    transform-origin: bottom center; /* Set the transform origin to the bottom center for a more natural rotation effect */
}

#protetoras-p,
#protetoras-r-1,
#protetoras-o-1,
#protetoras-t-1,
#protetoras-e,
#protetoras-t-2,
#protetoras-o-2,
#protetoras-r-2,
#protetoras-a,
#protetoras-s {
    position: fixed;
    top: 365px;
    top: 370px;
}
#protetoras-p {
    top: 365px;
    left: 30px;
}
#protetoras-r-1 {
    left: 65px;
}
#protetoras-o-1 {
    left: 100px;
}
#protetoras-t-1 {
    left: 135px;
}
#protetoras-e {
    left: 178px;
}
#protetoras-t-2 {
    left: 210px;
}
#protetoras-o-2 {
    left: 250px;
}
#protetoras-r-2 {
    left: 300px;
}
#protetoras-a {
    left: 332px;
}
#protetoras-s {
    left: 370px;
}




#tres-lagoas {
    position: absolute;
    top: 480px;
    left: 110px;
    font-size: 30px;
    font-weight: 600;
    color: #555;
}