/* 
    Created on : 27 de out. de 2023, 10:31:09
    Author     : Flávio Pavim
*/


@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    /*src: url('../font/Teko/Teko-Light.ttf') format('truetype');*/
    src: url('../fonts/Teko/Teko-Medium.ttf') format('truetype');
}



* {
    font-family: 'IndieFlower';
    box-sizing: border-box;
    /*font-family: 'Raleway';*/
    font-size: 25px;
}

.left {
    float: left;
}

h1 {
    margin: 0;
}




body {
    /*padding: 0;*/
    margin: 0;
    /*    position: relative;
        top: 0;
        left: 0;*/
    font-family: 'Arial';

    /*background-color: rgba(255,255,255,0.8);*/
    background-image: url('../img/bg.gif');
}

@keyframes navAnimationIn {
    0% {
        padding-right: 15px;
    }
    100% {
        padding-right: 25px;
    }
}

/*@keyframes navAnimationOut {
    0% {
        padding-right: 25px;
    }
    100% {
        padding-right: 15px;
    }
}*/


/*.teko {
    font-family: 'Teko';
}*/

nav {
    font-family: 'IndieFlower';
    position: fixed;
    top: 300px;
    left: 0;
    z-index: 2;
}

nav a {
    display: table;
    padding: 8px 12px;
    clear: both;
    margin-bottom: 5px;
    font-size: 30px;
    text-decoration: none !important;
    /*transition: padding-right 0.2s ease-in;  Adicionando a transição aqui */

    border-radius: 0 5px 5px 0;
}

/*nav a:hover {
    animation: navAnimationIn 0.2s ease-in;  Adicionando a animação de entrada ao passar o mouse 
}*/

nav a:hover {
    padding: 8px 20px 8px 15px;
    -webkit-transition: padding 0.2s ease-in;
    -moz-transition: padding 0.2s ease-in;
    -o-transition: padding 0.2s ease-in;
    transition: padding 0.2s ease-in;
}
nav a,
nav a:active,
nav a:visited,
nav a:hover {
    color: #fff;
}

/*nav a:not(:hover) {
    animation: navAnimationOut 0.2s ease;  Adicionando a animação de saída ao retirar o mouse 
}*/


section {
    display: block;
    width: 100%;
    /*height: 100%;*/
    /*height: 950px;*/
    /*padding: 50px;*/
}

section {
    display: block;
    width: 100%;
    /*height: 100%;*/
    height: 950px;
    /*background-color: #eee;*/
    background-color: rgba(0,0,0,0.1);
}


section:nth-child(even) {
    /*background-color: #ccc;*/
    background-color: rgba(0,0,0,0.2);

}


#quem-somos {
    /*background-color: #cc6633;*/
    background-color: rgba(204, 102, 51,0.9);
    color: #fff;
}
#trabalhos {
    background-color: rgba(218, 153, 51,0.9);
    color: #fff;
}
#doacao {
    background-color: rgba(102, 170, 51,0.9);
    color: #fff;
}
#contato {
    background-color: rgba(51, 51, 218,0.9);
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}


#inicio {
    display: block;
    position: relative;
    /*    top: 0;
        left: 0;*/
    width: 100%;

    /*    text-align: center;
        align-items: center;*/

    /*height: 100%;*/
    /*background-color: #eee;*/
    /*background-color: rgba(0,0,0,0.1);*/
    background-color: transparent;
    z-index: 1;

}










.work {
    display: block;

    border: 0;

    aspect-ratio: 4/3;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


select,
option {
    color: #999;
}


.icons {
    margin: 7px 5px 0 0;
}



#powered-by {
    font-family: 'Arial';
    font-size: 15px !important;
    line-height: 25px;
}


